
    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300');

    @mixin standardFont{
        font-family: 'Roboto', sans-serif !important;
    }

    @mixin headerFont{
        font-family: 'Open Sans', sans-serif !important;         
        letter-spacing: 0.5rem;       
    }

    @mixin flex {
        display: -webkit-flex;
        display: flex;
    }

    p{
       @include standardFont;
       letter-spacing: 0.1rem;
    }

    h1{
        
    }
    
    .main_h1{
        @include headerFont;
    }


